<div>
  <!-- <div class="row d-flex py-2 bg-dark" style="color:white"  >
    <p style="flex-grow: 2">Places in <i> Ismaillia </i> <i>{{user_selected_city}}</i></p>
    <! <button class="btn btn-light text-center bg-transparent" style="flex-grow: 1; border: none; color: white" id="change_area" onclick="">Change Area</button>
    <div style="flex-grow: 2; align-content: flex-end; align-items: flex-end">
      <img src="https://picsum.photos/200/300" id="profile_image" />
    </div> -->

  <!-- </div> -->
  <div class="sticky-top">
    <app-nav></app-nav>
  </div>
  <div class="row p-2 ">
    <div class="col-md-8 my-auto">
      <!-- <p class="m-2" style="flex-grow: 2">Places in <i> {{Ismaillia}} </i> / <i>{{user_selected_city}}</i></p> -->
    </div>
    <div class="col-md-4 my-auto">
      <!-- <button mat-raised-button id="changeArea" style="float: right; right: 20px" color="warn" routerLink="/location">Change
        Area</button> -->
    </div>
  </div>



  <div class="row " style="margin: 3px; margin-top: 0; padding-top: 0;">
    <div class="col-md-12 p-0 m-0">
      <!-- <app-home></app-home> -->

      <div class="" style="padding: 10px ; height: height;">
        <div id="sortby" class="breadcrumb">
          <div class="col-md-8 my-auto">
            <p class="" style="margin: 5px; font-weight: 500"> Nearest Places
            </p>
          </div>
          <div class="col-md-4 my-auto">
            <button mat-raised-button id="changeArea" style="float: right;" color="warn" routerLink="/location">Change
              Area</button>
          </div>
        </div>
        <app-home></app-home>

        <!-- <mat-card *ngFor="let p of places">
    <div class="row m-auto">
        <div class="col-md-2">
            <img id="i" class="rounded float-left" src="assets\images\place.jpg"/>
        </div>
        <div class="col-md-6">
          <a [routerLink]= "['/place-details',p.placeId]" ><h2 id="placeName" style="margin-top: 0;">{{p.name}}</h2></a>
          <p *ngIf="p.openHour!=NULL">Open at : {{p.openHour}}</p>
          <p *ngIf="p.closeHour!=NULL">Close at : {{p.closeHour}}</p>
          
        </div>
        <div class="col-md-2 m-auto">
          <app-star-rating class="d-flex m-auto" style="widows: 50%;" [starsCount]="p.rate">

          </app-star-rating>

        </div>
    </div>
    

  </mat-card> -->
      </div>
    </div>
  </div>
</div>