<div id="container" class="mx-auto">
    
  <div id="nav">
      <img id="logo" src="assets\images\yallagame2.png"/>
      <a class="navA" style="color: white" routerLink="/login">Login</a>
      <a class="navA" style="color: white" routerLink="/register">Register</a>
      <a class="navA" style="color: white" routerLink="/about-us">About Us</a>   
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <h1 id="h2Welcome">WELCOME</h1>
  <br>
  <h5 id="h5Info">Let’s Back to real life and YallaGame </h5>
  <h5 id="h5Info">This site will help you to find places for game and find the nearest people to play with them</h5>
  <h5 id="h5Info">This will be an amazing fun just login and enjoy <mat-icon id="enjoy">sentiment_satisfied_alt</mat-icon></h5>

 <br>
 <br>
 <div class="text-center">
 <button mat-raised-button color="warn" id="loginBtn" class="mx-auto" routerLink="/login">Let’s Login</button>

 </div>
</div>