<app-nav></app-nav>
<br>
<div class="container" style="padding: 0;width: 70%; border: 1px solid lightgray">
<div class="mx-auto" style="width: 100%;">
  <div class=" header pl-3" style="max-width: 100%;">
     Invitation List
  </div>
      <ul class="list-group list-group-flush" style="margin-bottom: 0; margin: 2px;">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <img class="float-left" src="assets\images\place.jpg" />
            </div>
            <div  class="col-md-6 my-auto p-0">
              <p ><span>username</span> invite you to play <span>gameName</span> with him</p>
    
            </div>
            <div class="col-md-3 text-center" style="margin-left:5%">
              <button mat-raised-button id="accept" color="warn">Accept</button>
              <button mat-raised-button id="reject" color="warn">Reject</button>
             </div> 
          </div>
      </ul>
  </div>


  
</div>
