<div class="container c" style="padding: 0; max-width: 100%; border: 1px solid lightgray">

  <div class="row header" style="max-width: 100%;">
    <div class="col-md-9 order-md-1">
      <mat-icon>star</mat-icon> Games
    </div>
  </div>


  <ul class="list-group list-group-flush" style="margin-bottom: 0; margin: 2px;">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <img class="rounded float-left" src="assets\images\place.jpg" />
        </div>
        <div class="col-md-5">
          <h3 id="placeName">Game Name</h3>
          <p>some details some details about game isssssssssssssssssssssssssssskxxxxxndj</p>

        </div>
        <div class="col-md-3 m-auto text-center" style="margin:auto">
          <app-star-rating class="d-flex" style="widows: 50%;"></app-star-rating>

        </div>
        <div class="col-md-2 m-auto text-center" style="margin:auto">
          <button mat-raised-button id="inviteBtn" color="warn" data-toggle="modal"
          data-target="#invitationModal">Invite</button>
        </div>
      </div>
  </ul>
</div>
