.header{
    background-color: rgb(240, 239, 239);
    font-size: 21px;
    padding: 5px;
    color: gray;
    max-width: 100%;
    margin: 0;   
}
mat-icon{
    color: rgb(231, 166, 24);
    padding-top: 5px;
}
img{
    width: 90px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px gray ;
}
#inviteBtn{
    background-color: rgb(231, 166, 24);
    width: 70%;
}
#placeName{
    margin-top: 0;
}