<div class="container c" style="padding: 0; max-width: 100%; border: 1px solid lightgray">

    <div class="row header" style="max-width: 100%;">
      <div class="col-md-9 order-md-1">
        <mat-icon>star</mat-icon> Games
      </div>
      </div>

 <mat-card>
    <div class="row">
        <div class="col-md-2">
            <img class="rounded float-left" src="assets\images\place.jpg"/>
        </div>
        <div class="col-md-9">
          <h3 id="placeName">Game Name</h3>
          <p>some details</p>
          <p>rating</p>
        </div>
    </div>
    

  </mat-card>
</div>