<div class="container c" style="padding: 0; max-width: 100%; border: 1px solid lightgray">

  <div class="row header" style="max-width: 100%;">
    <div class="col-md-9 order-md-1">
      <mat-icon>info</mat-icon> Games
    </div>
  </div>

  <ul class="list-group">
      <li class="list-group-item"> Name </li>
      <li class="list-group-item"> Phone</li>
      <li class="list-group-item"> Working Hours</li>
      <li class="list-group-item"> Location</li>
      <li class="list-group-item"> Rateing</li>
    </ul>

</div>