<div class="" style="padding: 10px ; height: height;">
  <div id="sortby" class="breadcrumb">
    <p class="" style="margin: 5px; font-weight: 500">Sort By: 
        <a style="font-weight: 300">  Recommended |</a> 
        <a style="font-weight: 300">  Ratings  |</a> 
        <a style="font-weight: 300">  Newest </a> 
        
        
    </p>


  </div>

  <mat-card *ngFor="let p of places">
    <div class="row">
        <div class="col-md-2">
            <img id="i" class="rounded float-left" src="assets\images\place.jpg"/>
        </div>
        <div class="col-md-9">
          <a><h2 id="placeName">{{p.name}}</h2></a>
          <p>some details</p>
          <p>rating</p>
        </div>
    </div>
    

  </mat-card>
</div>