<div class="" style="padding: 10px ; height: height;">
  <div id="sortby" class="breadcrumb">
    <p class="" style="margin: 5px; font-weight: 500">Sort By: 
        <a style="font-weight: 300">  Recommended |</a> 
        <a style="font-weight: 300">  Ratings  |</a> 
        <a style="font-weight: 300">  Newest </a> 
        
        
    </p>


  </div>

  <mat-card *ngFor="let p of places">
    <div class="row m-auto">
        <div class="col-md-2">
            <img id="i" class="rounded float-left" src="assets\images\place.jpg"/>
        </div>
        <div class="col-md-6">
          <a [routerLink]= "['/place-details',p.placeId]" ><h2 id="placeName" style="margin-top: 0;">{{p.name}}</h2></a>
          <p>Open Hour : {{p.openHour}}</p>
          <p>Closed Hour : {{p.closeHour}}</p>
          
        </div>
        <div class="col-md-2 m-auto">
          <app-star-rating class="d-flex m-auto" style="widows: 50%;" [starsCount]="p.rate">

          </app-star-rating>

        </div>
    </div>
    

  </mat-card>
</div>