<!-- <div class="container c" style="padding: 0; max-width: 100%; border: 1px solid lightgray">

  <div class="row header" style="max-width: 100%;">
    <div class="col-md-9 order-md-1">
      <mat-icon>star</mat-icon> Reviews
    </div>
    <div class="col-md-3 order-md-2 text-center">
      <button mat-raised-button id="loginBtn" color="warn" style="background-color: rgb(231, 166, 24);" data-toggle="modal" data-target="#exampleModal">Add Reviews</button>
    </div>
  </div>
  <br>
  <div class="review-container">
    <div *ngFor="let item of reviewNumber">
      <app-review-details></app-review-details>
    </div>
  </div>

</div> -->

<div class="container" style="max-width: 100%; border: 1px solid lightgray; padding: 0;">
  <div class="row header" style="max-width: 100%;">
    <div class="col-md-9 order-md-1">
      <mat-icon>star</mat-icon> Reviews
    </div>
    <div class="col-md-3 order-md-2 text-center">
      <button mat-raised-button id="loginBtn" color="warn" style="background-color: rgb(231, 166, 24);" data-toggle="modal"
        data-target="#exampleModal" *ngIf="userLogin()">Add Reviews</button>
    </div>
  </div>
  <br>
  <div class="review-container">
    <!-- <div *ngFor="let item of reviews">  -->
      <app-review-details></app-review-details>
    <!-- </div> -->
  </div>
</div>