
.c{
    background-image: url('../../../assets/images/bk.png');
    background-size: cover;
}
.header{
    background-color: rgb(240, 239, 239);
    font-size: 21px;
    padding: 5px;
    color: gray;
    max-width: 100%;
    margin: 0;   
}
mat-icon{
    color: lightgray;
    padding-top: 5px;
}