<div class="modal fade" id="addGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">

  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Add Game</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
        
          <span class="d-flex" style="font-weight: bold">Upload Game Image</span>
          <div class="custom-file">
            <input type="file" class="custom-file-input" accept="image/*" placeholder="ProfileImage"
               required>
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          <mat-form-field>
            <input matInput placeholder="Description" required minlength="20">
          </mat-form-field>
          <div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="f()">Add</button>
      </div>
    </div>
  </div>





</div>