
#container{
    background-image: url("../../../assets/images/bk.png");
    width: 100vw;
    background-size: cover;
    height: 100vh;
}
.nav{
    /* display: flex;  */
    justify-content: space-between;
}


/* Styles for the ink bar */
.mat-ink-bar {
    background-color: rgb(231, 166, 24) !important ;
}

.navA{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 2%;
    cursor: pointer;
    text-align: left;
    padding-bottom: 5px;
}
hr{
    display: inline;
}
#placeLogin {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid gray;
    line-height: 3%;
    margin: 10px 0 20px; 
    color: gray;
    
 } 
 #loginBtn{
     background-color: rgb(231, 166, 24);
 }
 
 #placeLogin span { 
     background:#fff; 
     padding:0 10px; 
 }

.example-container,#f {
   
    display: flex;
    flex-direction: column;
    /* border-radius: 3%; */
    background-color: white;
    padding: 5px;
    /* padding-left: 40px;
    padding-right: 40px; */
    margin: 10px;
    text-align: center;
    /* height: 500px; */
    
  }
  mat-form-field{
      padding: 3px;
      margin: 3px
  }
#enjoy{
    font-size: 30px;
    margin-bottom: -10px;
}

#profile{

    width: 70px;
    margin:10px auto;
     }

  
     #logo{
        width: 100px;
        margin: 10px;
    }
    @media screen and (max-width: 800px) {
        #logo {
            width: 80px;
            height:50px ;
            
        }
      }

  #h2Welcome,#h5Info{
      text-align: center;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
  }
  #h5Info{
    font-size: 2rem;
  }
  #h2Welcome{
      color: rgb(231, 166, 24);
      font-weight: bold;
  }
  
  .navA:hover{
      text-decoration: underline;
  }
  /* h2{
      text-align: center;
      margin: 20px;
      color: rgb(233, 166, 21);
      font-family:cursive;
      font-weight: bolder;
  } */
