<div id="container" class="mx-auto">
    
  <div id="nav">
      <img id="logo" src="assets\images\yallagame2.png"/>
      <a class="navA" style="color: white" routerLink="">Login</a>
      <a class="navA" style="color: white" routerLink="/register">Register</a>
      
  </div>
  <h2 id="h2Welcome">WELCOME</h2>
  
  <h5 id="h5Info">This will be an amazing fun just login and enjoy <mat-icon id="enjoy">sentiment_satisfied_alt</mat-icon></h5>

  <div class="example-container col-4 mx-auto shadow rounded">
    
      <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Login as Preson">
          <form [formGroup]='form' (ngSubmit)="UsersignIn()">
              <img id="profile" src="assets\images\logo.png"/>
            <h4 id="placeLogin"><span>Person Login</span></h4>
          <span class="alert alert-danger" *ngIf="UserErrorMsg">Invalid Username or password</span>
            
            <mat-form-field>
              <input matInput placeholder="Enter your email" [formControl]="getEmail()" required >
              <mat-error *ngIf="getEmail().invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Enter your Password" [formControl]="getPassword()" type="password" required>
              <mat-error *ngIf="getPassword().invalid">{{getErrorMessagePwd()}}</mat-error>
              <mat-error *ngIf="err">Username or Password incorrect</mat-error>
            </mat-form-field>
          <!-- <span style="color: black;" *ngIf="errorMsg">Username or Password incorrect</span> -->
            
            <br>
            <button mat-raised-button id="loginBtn" color="warn">Login</button>
            <br>
        
          
        </form>
        </mat-tab>

        <mat-tab label="Login as Place"><form [formGroup]='form' (ngSubmit)="PlaceSignIn()">
            <img id="profile" src="assets\images\logo.png"/>
          
          
          <h4 id="placeLogin"><span>Place Login</span></h4>
          <span class="alert alert-danger" *ngIf="PlaceErrorMsg">Invalid Username or password</span>
          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="getEmail()" required >
            <mat-error *ngIf="getEmail().invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your Password" [formControl]="getPassword()" type="password" required>
            <mat-error *ngIf="getPassword().invalid">{{getErrorMessagePwd()}}</mat-error>
          
          </mat-form-field>
          <br>
          <button mat-raised-button id="loginBtn" color="warn">Login</button>
          <br>
        </form>
      </mat-tab>
    </mat-tab-group>
    <!-- <mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner> -->
    
  </div>
  <div class="loading" *ngIf="isLoading">Loading&#8230;</div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
</div>