#myCarousel{
    width: fit-content;
    margin: 0 auto;
}

.item{
    margin: 0 auto;
    width: fit-content;
    float: none;
}

.mat-ink-bar {
    background-color: rgb(231, 166, 24) !important ;
}

.mat-tab-label{
    background-color: lightgrey;
    width: 100%;
}
.place_profile{
    color: white;
    background-image: url('../../../assets/images/profile-cover.jpg');
    background-size: cover;
}