<div class="sticky-top">
  <app-nav></app-nav>
</div>

<div class="container">

  <div class="row place-profile mx-auto">
    <div class="col-md-2.5 order-md-1" id="profile-img-div">
      <img class="img-fluid mx-auto" id="profile-img" src="https://picsum.photos/150/150" />
    </div>
    <div class="col-md-6 order-md-2" style="margin-top: 110px; padding: 0">
      <h3 class="text-dark" style="font-weight: 600">Place Name</h3>
      <p class="text-dark">rating stars</p>
    </div>
  </div>
  <div>

    <mat-tab-group mat-align-tabs="center" [selectedIndex]="1">
      <mat-tab disabled></mat-tab>
      <mat-tab label="Info" active="true">
        <br>
        <app-info-tab></app-info-tab>
      </mat-tab>
      <mat-tab label="Games">
        <br>
        <app-games-tab></app-games-tab>
      </mat-tab>
      <mat-tab label="Reviews">
        <br>
        <app-reviews-tab></app-reviews-tab>
      </mat-tab>

      <mat-tab label="Photos"> Photos </mat-tab>
      <mat-tab label="Map"> Map </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-review></app-review>