<div class="sticky-top">
  <app-nav></app-nav>
</div>

<div class="container">

  <div class="row place-profile mx-auto">
    <div class="col-md-2.5 order-md-1" id="profile-img-div">
      <img class="img-fluid mx-auto" id="profile-img" src="https://picsum.photos/150/150" />
    </div>
    <div class="col-md-6 order-md-2" style="margin-top: 110px; padding: 0">
      <h3>Place Name</h3>
      <p>rating stars</p>
    </div>
  </div>
  <div>

    <mat-tab-group mat-align-tabs="center" [selectedIndex]="1">
      <mat-tab disabled></mat-tab>
      <mat-tab label="Info" active="true"> Info </mat-tab>
      <mat-tab label="Games"> Games </mat-tab>
      <mat-tab label="Reviews">
        <br>

        <div class="container" style="max-width: 100%; border: 1px solid lightgray">

          <div class="row header" style="max-width: 100%;">
            <div class="col-md-9 order-md-1">
              <mat-icon>star</mat-icon> Reviews
            </div>
            <div class="col-md-3 order-md-2 text-center">
              <button mat-raised-button id="loginBtn" color="warn" style="background-color: rgb(231, 166, 24);"
                data-toggle="modal" data-target="#exampleModal">Add Reviews</button>
            </div>
          </div>
          <br>
          <div class="review-container">
            <div *ngFor="let item of reviewNumber">
              <app-review-details></app-review-details>
            </div>
          </div>

        </div>
      </mat-tab>

      <mat-tab label="Photos"> Photos </mat-tab>
      <mat-tab label="Map"> Map </mat-tab>
    </mat-tab-group>

  </div>

</div>


<app-review></app-review>