<div class="text-center">
    <span [class.checked]="starsCount >= 1" class="starItem px-2" (click)="addRating(1)">&#9733;</span>
    <span [class.checked]="starsCount >= 2" class="starItem px-2" (click)="addRating(2)">&#9733;</span>
    <span [class.checked]="starsCount >= 3" class="starItem px-2" (click)="addRating(3)">&#9733;</span>
    <span [class.checked]="starsCount >= 4" class="starItem px-2" (click)="addRating(4)">&#9733;</span>
    <span [class.checked]="starsCount >= 5" class="starItem px-2" (click)="addRating(5)">&#9733;</span>
  </div>