<div id="container" class="mx-auto">
    
  <div id="nav">
      <img src="assets\images\yallagame2.png"/>
      <a class="navA" style="color: white" (click)="logOut()">Logout</a>    
  </div>
  <br><br>
  <h2>Find Your Location</h2>

  <div class="example-container col-4 mx-auto shadow rounded bg-white p-5 justify-content-center">
  
    <h3 id="h3">Select Your Area to See Places for Fun</h3>
    
    <form [formGroup]="form" (ngSubmit)="FindPlaces()">

      <div class="form-group text-center">

          <select class="custom-select" [formControl]="getCountry()">
              <option>Select Your Country</option>
                <option *ngFor="let c of Country">
                  {{c}}
                </option>
              <mat-error *ngIf="getCountry().invalid">{{getErrorMessageCountry()}}</mat-error>
                
            </select>
        
          <select class="custom-select" [formControl]="getCity()">
            <option>Select Your City</option>
            <option *ngFor="let city of cities">
                {{city}}
            </option>
            <mat-error *ngIf="getCity().invalid">{{getErrorMessageCity()}}</mat-error>
            
          </select>
        
        
         
          <br>
          <button mat-raised-button id="findBtn" color="warn" >Find Places</button>
          
        
      </div>

    </form>
   
  </div>
<br><br><br><br><br><br><br>
</div>