<div class="container c" style="padding: 0; max-width: 100%; border: 1px solid lightgray">

  <div class="row header" style="max-width: 100%;">
    <div class="col-md-9 order-md-1">
      <mat-icon>info</mat-icon> Info
    </div>
    <div class="col-md-3 order-md-2 text-center">
        <!-- <button mat-raised-button id="loginBtn" color="warn" style="background-color: rgb(231, 166, 24);" data-toggle="modal"
          data-target="#EditUserInfo">Edit Info</button> -->
      </div>
  </div>

  <ul class="list-group">
      <li class="list-group-item" *ngIf="loaded">Name:  {{info.name}}</li>
      <li class="list-group-item" *ngIf="loaded">Phone:  {{info.phone}}</li>
      <li class="list-group-item" *ngIf="loaded">Country: {{info.country}}</li>
      <li class="list-group-item" *ngIf="loaded">City:  {{info.city}}</li>      
      <!-- <li class="list-group-item"> Rateing</li>
      <li class="list-group-item"> Interests</li>    -->
  </ul>

</div>